@media screen and (max-width: 2000px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    background-color: red;
    padding: 0%;
  }
  
  .Background1 {
    background-image: url('../Backgrounds/Bg_Header@3x.png');
    background-color: white;
    width: 100%;
    height: 25%;
    margin: 0%;
  }
  
  .Background2 {
    display: flex;
    flex-direction: row;
    background-color: rgb(213, 218, 241);
    width: 100%;
    height: 25%;
    margin: 0%;
  }
  .Background2 img{
    width: 50%;
    height: 15%;
  }

  .Background3{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .Background4 {
    background-image: url('../Backgrounds/Bg_Footer@3x.png');
    background-color: white;
    width: 100%;
    height: 10%;
    margin: 0%;
  }

  .Woloxer {
    content:url("../img_woloxer@3x.png");
  }

  .WoloxHead{
    content: url("../logo_full_color.svg");
  }

  .WoloxFooter{
    content: url("../Ic_Wolox_Footer.svg");
  }

  .iconHour {
    background: url('../Ic_Hour.svg');
    height: 90px;
    width: 90px;
    display: block;
}

.iconHour {
  background: url('../Ic_Hour.svg');
  height: 90px;
  width: 90px;
  display: block;
}

.iconHomeOffice {
  background: url('../Ic_HomeOffice.svg');
  height: 90px;
  width: 90px;
  display: block;
}

.iconWorkshop {
  background: url('../Ic_Workshops.svg');
  height: 90px;
  width: 90px;
  display: block;
}

.iconSnacks {
  background: url('../Ic_DrinkSnacks.svg');
  height: 90px;
  width: 90px;
  display: block;
}

.iconRemote {
  background: url('../Ic_laptop.svg');
  height: 90px;
  width: 90px;
  display: block;
}

.iconTechs {
  background: url('../Ic_brain.svg');
  height: 90px;
  width: 90px;
  display: block;
}
}
@media screen and (max-width: 800px) {}

@media screen and (max-width: 300px) {}