@media screen and (max-width: 2000px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    background-color: red;
    padding: 0%;
  }
  
  .Background1 {
    background-image: url('../Backgrounds/Bg_Header@3x.png');
    background-color: white;
    width: 100%;
    height: 25%;
    margin: 0%;
  }

  .TopPage {
    display: flex;
    flex-direction: row;
  }

  .TopPage div{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
  }
  
  .Background2 {
    display: flex;
    flex-direction: row;
    background-color: rgb(213, 218, 241);
    width: 100%;
    height: 25%;
    margin: 0%;
  }

  .Bg2Container{
    position: relative;
    text-align: center;
  }

  .Bg2TwitterImg{
    width: 53%;
    float: left;
    display: block;
  }

  .Bg2TwitterText {
    position: absolute;
    float: left;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  .Bg2LeftText{
    padding: 10%;
  }

  .Background3{
    background-color: white;
  }

  .Background3 div{
    display: flex;
    align-items: center;
  }

  .Background4 {
    background-image: url('../Backgrounds/Bg_Footer@3x.png');
    background-color: white;
    width: 100%;
    height: 10%;
    margin: 0%;
  }

  .Woloxer {
    content:url("../img_woloxer@3x.png");
  }

  .WoloxHead{
    content: url("../logo_full_color.svg");
  }

  .WoloxFooter{
    content: url("../Ic_Wolox_Footer.svg");
  }

  .imgHero{
    content: url("../ImgHero/Ic_ilustra_Hero@3x.png");
    text-align: right;
    width: 80%;
    height: 90%;
    transform: scaleX(-1);
  }

.iconList{
  margin: 3%;
  align-content: stretch;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  }

  .iconList p{
    flex-basis: content;
  }

.icoFormat{
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.icoLabel {
  display: flex;
  float: left;
  flex-direction: column;
  position: absolute;
  align-content: center;
  text-align: center;
  padding-top: 8%;
}

.iconHour {
  background: url('../Ic_Hour.svg');
  height: 90px;
  width: 90px;
  display: block;
  flex-direction: column;
}

.iconHomeOffice {
  background: url('../Ic_HomeOffice.svg');
  height: 90px;
  width: 90px;
  display: block;
  flex-direction: column;
}

.iconWorkshop {
  background: url('../Ic_Workshops.svg');
  height: 90px;
  width: 90px;
  display: block;
}

.iconSnacks {
  background: url('../Ic_DrinkSnacks.svg');
  height: 90px;
  width: 90px;
  display: block;
}

.iconRemote {
  background: url('../Ic_laptop.svg');
  height: 65px;
  width: 97px;
  display: block;
}

.iconTechs {
  background: url('../Ic_brain.svg');
  height: 84px;
  width: 84px;
  display: block;
  flex-direction: column;
  align-content: center;
  text-align: center;
}
}
@media screen and (max-width: 800px) {
  .Background1 {
    background-image: url('../Backgrounds/Bg_Header@2x.png');
    background-color: white;
    width: 100%;
    height: 25%;
    margin: 0%;
  }
}

@media screen and (max-width: 300px) {
  .Background1 {
    background-image: url('../Backgrounds/Bg_Header.png');
    background-color: white;
    width: 100%;
    height: 25%;
    margin: 0%;
  }
}